In [1]:
import pandas as pd

In [5]:
df=pd.read_csv("C:/Users/daipa/OneDrive/Pictures/customer.csv")

In [7]:
df.head()

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No
4   16  Female  Average        UG        No

In [35]:
df1=df.iloc[:,2:]

In [36]:
df1.head()

    review education purchased
2     Good        PG        No
3     Good        PG        No
4  Average        UG        No
5  Average    School       Yes
6     Good    School        No

In [25]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 2 to 49
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   gender     48 non-null     object
 1   review     48 non-null     object
 2   education  48 non-null     object
 3   purchased  48 non-null     object
dtypes: object(4)
memory usage: 1.6+ KB

In [21]:
from sklearn.preprocessing import OrdinalEncoder

In [37]:
from sklearn.model_selection import train_test_split

# Assuming df1 has 48 samples and df has 48 samples as well
x_train, x_test, y_train, y_test = train_test_split(df1.iloc[:,:2], df.iloc[:,-1], test_size=0.2)

In [40]:
encoder = OrdinalEncoder(categories=[['Poor','Average','Good'],['School','UG','PG']])

In [41]:
encoder.fit(x_train)

OrdinalEncoder(categories=[['Poor', 'Average', 'Good'], ['School', 'UG', 'PG']])

In [44]:
x_train=encoder.transform(x_train)

In [46]:
x_test=encoder.transform(x_test)

In [47]:
x_test

array([[0., 1.],
       [2., 1.],
       [1., 1.],
       [2., 0.],
       [1., 1.],
       [2., 2.],
       [0., 0.],
       [0., 0.],
       [0., 2.],
       [0., 0.]])

In [48]:
from sklearn.preprocessing import LabelEncoder

# create instance of label encoder
lab = LabelEncoder()

# # perform label encoding on 'my_column' column
# df['my_column'] = lab.fit_transform(df['my_column'])

In [49]:
lab.fit(y_train)

LabelEncoder()

In [52]:
lab.classes_

array(['No', 'Yes'], dtype=object)

In [55]:
y_train = lab.fit_transform(y_train)
y_test = lab.fit_transform(y_test)

In [56]:
y_train

array([1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1], dtype=int64)

In [57]:
####onehot encoding

In [2]:
df=pd.read_csv("C:/Users/daipa/OneDrive/Pictures/cars.csv")

In [4]:
df.head()

     brand  km_driven    fuel         owner  selling_price
0   Maruti     145500  Diesel   First Owner         450000
1    Skoda     120000  Diesel  Second Owner         370000
2    Honda     140000  Petrol   Third Owner         158000
3  Hyundai     127000  Diesel   First Owner         225000
4   Maruti     120000  Petrol   First Owner         130000

In [8]:
brand_counts = df['brand'].nunique()

In [9]:
brand_counts

32

In [15]:
one_hot_encoded = pd.get_dummies(df,columns=['fuel','owner'],drop_first=True)

In [16]:
one_hot_encoded

,brand,km_driven,selling_price,fuel_Diesel,fuel_LPG,fuel_Petrol,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,Maruti,145500,450000,1,0,0,0,0,0,0
1,Skoda,120000,370000,1,0,0,0,1,0,0
2,Honda,140000,158000,0,0,1,0,0,0,1
3,Hyundai,127000,225000,1,0,0,0,0,0,0
4,Maruti,120000,130000,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai,110000,320000,0,0,1,0,0,0,0
8124,Hyundai,119000,135000,1,0,0,1,0,0,0
8125,Maruti,120000,382000,1,0,0,0,0,0,0
8126,Tata,25000,290000,1,0,0,0,0,0,0
8127,Tata,25000,290000,1,0,0,0,0,0,0

In [17]:
from sklearn.model_selection import train_test_split

In [19]:

X_train,X_test,y_train,y_test = train_test_split(df.iloc[:,0:4],df.iloc[:,-1],test_size=0.2,random_state=2)

In [20]:

from sklearn.preprocessing import OneHotEncoder

In [21]:
columns_to_encode = ['fuel', 'owner']

# Extract the selected columns as a DataFrame
df_selected = df[columns_to_encode]

# Initialize the OneHotEncoder
encoder = OneHotEncoder(sparse=False)

# Fit and transform the selected columns
encoded = encoder.fit_transform(df_selected)

# Create a DataFrame from the encoded values
df_encoded = pd.DataFrame(encoded, columns=encoder.get_feature_names_out(columns_to_encode))

# Concatenate the encoded DataFrame with the original DataFrame
df_final = pd.concat([df.drop(columns_to_encode, axis=1), df_encoded], axis=1)

print(df_final)

        brand  km_driven  selling_price  fuel_CNG  fuel_Diesel  fuel_LPG  \
0      Maruti     145500         450000       0.0          1.0       0.0
1       Skoda     120000         370000       0.0          1.0       0.0
2       Honda     140000         158000       0.0          0.0       0.0
3     Hyundai     127000         225000       0.0          1.0       0.0
4      Maruti     120000         130000       0.0          0.0       0.0
...       ...        ...            ...       ...          ...       ...
8123  Hyundai     110000         320000       0.0          0.0       0.0
8124  Hyundai     119000         135000       0.0          1.0       0.0
8125   Maruti     120000         382000       0.0          1.0       0.0
8126     Tata      25000         290000       0.0          1.0       0.0
8127     Tata      25000         290000       0.0          1.0       0.0

      fuel_Petrol  owner_First Owner  owner_Fourth & Above Owner  \
0             0.0                1.0                         0.0
1             0.0                0.0                         0.0
2             1.0                0.0                         0.0
3             0.0                1.0                         0.0
4             1.0                1.0                         0.0
...           ...                ...                         ...
8123          1.0                1.0                         0.0
8124          0.0                0.0                         1.0
8125          0.0                1.0                         0.0
8126          0.0                1.0                         0.0
8127          0.0                1.0                         0.0

      owner_Second Owner  owner_Test Drive Car  owner_Third Owner
0                    0.0                   0.0                0.0
1                    1.0                   0.0                0.0
2                    0.0                   0.0                1.0
3                    0.0                   0.0                0.0
4                    0.0                   0.0                0.0
...                  ...                   ...                ...
8123                 0.0                   0.0                0.0
8124                 0.0                   0.0                0.0
8125                 0.0                   0.0                0.0
8126                 0.0                   0.0                0.0
8127                 0.0                   0.0                0.0

[8128 rows x 12 columns]

C:\Users\daipa\anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [22]:
df_final.head()

,brand,km_driven,selling_price,fuel_CNG,fuel_Diesel,fuel_LPG,fuel_Petrol,owner_First Owner,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,Maruti,145500,450000,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,Skoda,120000,370000,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,Honda,140000,158000,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
3,Hyundai,127000,225000,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,Maruti,120000,130000,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0